.mail-folder-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.mail-folder-list .folder-link {
    padding: 10px 12px 10px 26px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    color: #202124;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 18px;
    transition: background-color 0.1s;
}

.mail-folder-list .folder-link:hover {
    background-color: #eaebef;
}

/* Active State Styling */
.mail-folder-list .folder-link.active {
    background-color: #d3e3fd;
    font-weight: 700;
    color: #001d35;
}

.mail-folder-list .icon {
    font-size: 1.1em;
}

.badge {
    margin-left: auto;
    font-size: 12px;
    font-weight: bold;
    color: #444746;
}

.folder-link.active .badge {
    color: #001d35;
}