.mail-preview-row {
    display: grid;
    grid-template-columns: 40px 200px 1fr 100px;
    padding: 12px 10px;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    color: #202124;
}

.mail-preview-row:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 1;
    position: relative;
}

.mail-preview-row .star {
    font-size: 1.2rem;
    color: #ccc;
    display: flex;
    justify-content: center;
}

.mail-preview-row .star:hover {
    color: gold;
}

.mail-preview-row .subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}