.mail-folder-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.mail-folder-list .folder-link {
    padding: 10px 12px 10px 26px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    color: var(--clr-txt-main);
    font-size: 14px;

    display: flex;
    align-items: center;
    gap: 18px;

    transition: background-color 0.1s;
}

.mail-folder-list .folder-link:hover {
    background-color: var(--clr-hover);
}

.mail-folder-list .folder-link.active {
    background-color: var(--clr-selected);
    font-weight: 700;
    color: var(--clr-selected-txt);
}

.mail-folder-list .icon {
    font-size: 1.1em;
}

.mail-folder-list .folder-link.collapsed {
    padding: 10px 0;
    justify-content: center;
    padding-left: 0;
    gap: 0;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0 auto 2px auto;
}

.mail-folder-list .folder-link.collapsed.active {
    border-radius: 50%;
}

.badge {
    margin-left: auto;
    font-size: 12px;
    font-weight: bold;
    color: var(--clr-txt-secondary);
}

.folder-link.active .badge {
    color: var(--clr-selected-txt);
}