.mail-index {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: grid-template-columns 0.3s ease;
}

.mail-index.collapsed {
    grid-template-columns: var(--sidebar-width-collapsed) 1fr;
}

.mail-header {
    grid-column: 1 / -1;
    background-color: var(--clr-bg-surface);
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 60px;
    border-bottom: 1px solid var(--clr-border);
}

.header-start {
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 230px;
}

.menu-toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    color: #5f6368;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle-btn:hover {
    background-color: rgba(60, 64, 67, 0.08);
}

.mail-header h3 {
    margin: 0;
    color: var(--clr-txt-secondary);
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mail-sidebar {
    grid-row: 2 / -1;
    background-color: var(--clr-bg-white);
    padding: 16px 10px;
    display: flex;
    flex-direction: column;
}

.compose-btn {
    background-color: var(--clr-secondary);
    border: none;
    padding: 16px 24px;
    border-radius: var(--border-radius-md);
    font-size: 0.95rem;
    cursor: pointer;
    margin-bottom: 32px;
    margin-left: 8px;
    font-weight: 600;
    color: var(--clr-secondary-txt);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;
    height: 56px;
    min-width: 56px;
    white-space: nowrap;
}

.compose-btn.small {
    padding: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    justify-content: center;
    gap: 0;
}

.compose-btn:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3);
    background-color: #b3d7ef;
}

.mail-main-content {
    background-color: var(--clr-bg-white);
    padding: 0;
    border-radius: var(--border-radius-md) 0 0 0;
    overflow-y: auto;
    height: 100%;
}