body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.app-header {
    flex-shrink: 0;
}

.main-app-container {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;

}